    /* Novo CSS */
    
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
    * {
        margin: 0;
        padding: 0;
        border: 0px none;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    html {
        font-family: 'Roboto', sans-serif;
        line-height: 1.15;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -ms-overflow-style: scrollbar;
        -webkit-tap-highlight-color: transparent;
    }
    
    @-ms-viewport {
        width: device-width;
    }
    
    body {
        background-color: #e9f1ef;
    }
    /* container */
    
    .AjustContainer {
        width: 100%;
        /* padding-right: 15px;
    padding-left: 15px; */
        margin-right: auto;
        margin-left: auto;
    }
    
    @media (min-width: 576px) {
        .AjustContainer {
            max-width: 400px;
        }
    }
    
    .container {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    
    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }
    
    @media (min-width: 768px) {
        .container {
            max-width: 820px;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            max-width: 880px;
        }
    }
    
    @media (min-width: 1200px) {
        .container {
            max-width: 1120px;
        }
    }
    
    @media (min-width: 1920px) {
        .container {
            max-width: 1366px;
        }
    }
    /* Grid System */
    
    .row {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    
    .no-gutters {
        margin-right: 0;
        margin-left: 0;
    }
    
    .no-gutters>.col,
    .no-gutters>[class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
    
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12,
    .col,
    .col-auto,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm,
    .col-sm-auto,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-md,
    .col-md-auto,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-lg,
    .col-lg-auto,
    .col-xl-1,
    .col-xl-2,
    .col-xl-3,
    .col-xl-4,
    .col-xl-5,
    .col-xl-6,
    .col-xl-7,
    .col-xl-8,
    .col-xl-9,
    .col-xl-10,
    .col-xl-11,
    .col-xl-12,
    .col-xl,
    .col-xl-auto {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
    
    .col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        -webkit-box-flex: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    
    .col-auto {
        -ms-flex: 0 0 auto;
        -webkit-box-flex: 0;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    
    .col-1 {
        -ms-flex: 0 0 8.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }
    
    .col-2 {
        -ms-flex: 0 0 16.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
    
    .col-3 {
        -ms-flex: 0 0 25%;
        -webkit-box-flex: 0;
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .col-4 {
        -ms-flex: 0 0 33.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    
    .col-5 {
        -ms-flex: 0 0 41.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }
    
    .col-6 {
        -ms-flex: 0 0 50%;
        -webkit-box-flex: 0;
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .col-7 {
        -ms-flex: 0 0 58.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }
    
    .col-8 {
        -ms-flex: 0 0 66.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    
    .col-9 {
        -ms-flex: 0 0 75%;
        -webkit-box-flex: 0;
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .col-10 {
        -ms-flex: 0 0 83.333333%;
        -webkit-box-flex: 0;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }
    
    .col-11 {
        -ms-flex: 0 0 91.666667%;
        -webkit-box-flex: 0;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }
    
    .col-12 {
        -ms-flex: 0 0 100%;
        -webkit-box-flex: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    @media (min-width: 576px) {
        .col-sm {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            -webkit-box-flex: 1;
            flex-grow: 1;
            max-width: 100%;
        }
        .col-sm-auto {
            -ms-flex: 0 0 auto;
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: auto;
            max-width: none;
        }
        .col-sm-1 {
            -ms-flex: 0 0 8.333333%;
            -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
        }
        .col-sm-2 {
            -ms-flex: 0 0 16.666667%;
            -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
        }
        .col-sm-3 {
            -ms-flex: 0 0 25%;
            -webkit-box-flex: 0;
            flex: 0 0 25%;
            max-width: 25%;
        }
        .col-sm-4 {
            -ms-flex: 0 0 33.333333%;
            -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
        .col-sm-5 {
            -ms-flex: 0 0 41.666667%;
            -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
        }
        .col-sm-6 {
            -ms-flex: 0 0 50%;
            -webkit-box-flex: 0;
            flex: 0 0 50%;
            max-width: 50%;
        }
        .col-sm-7 {
            -ms-flex: 0 0 58.333333%;
            -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
        }
        .col-sm-8 {
            -ms-flex: 0 0 66.666667%;
            -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }
        .col-sm-9 {
            -ms-flex: 0 0 75%;
            -webkit-box-flex: 0;
            flex: 0 0 75%;
            max-width: 75%;
        }
        .col-sm-10 {
            -ms-flex: 0 0 83.333333%;
            -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
        }
        .col-sm-11 {
            -ms-flex: 0 0 91.666667%;
            -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
            max-width: 91.666667%;
        }
        .col-sm-12 {
            -ms-flex: 0 0 100%;
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    
    @media (min-width: 768px) {
        .col-md {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            -webkit-box-flex: 1;
            flex-grow: 1;
            max-width: 100%;
        }
        .col-md-auto {
            -ms-flex: 0 0 auto;
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: auto;
            max-width: none;
        }
        .col-md-1 {
            -ms-flex: 0 0 8.333333%;
            -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
        }
        .col-md-2 {
            -ms-flex: 0 0 16.666667%;
            -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
        }
        .col-md-3 {
            -ms-flex: 0 0 25%;
            -webkit-box-flex: 0;
            flex: 0 0 25%;
            max-width: 25%;
        }
        .col-md-4 {
            -ms-flex: 0 0 33.333333%;
            -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
        .col-md-5 {
            -ms-flex: 0 0 41.666667%;
            -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
        }
        .col-md-6 {
            -ms-flex: 0 0 50%;
            -webkit-box-flex: 0;
            flex: 0 0 50%;
            max-width: 50%;
        }
        .col-md-7 {
            -ms-flex: 0 0 58.333333%;
            -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
        }
        .col-md-8 {
            -ms-flex: 0 0 66.666667%;
            -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }
        .col-md-9 {
            -ms-flex: 0 0 75%;
            -webkit-box-flex: 0;
            flex: 0 0 75%;
            max-width: 75%;
        }
        .col-md-10 {
            -ms-flex: 0 0 83.333333%;
            -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
        }
        .col-md-11 {
            -ms-flex: 0 0 91.666667%;
            -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
            max-width: 91.666667%;
        }
        .col-md-12 {
            -ms-flex: 0 0 100%;
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    
    @media (min-width: 992px) {
        .col-lg {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            -webkit-box-flex: 1;
            flex-grow: 1;
            max-width: 100%;
        }
        .col-lg-auto {
            -ms-flex: 0 0 auto;
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: auto;
            max-width: none;
        }
        .col-lg-1 {
            -ms-flex: 0 0 8.333333%;
            -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
        }
        .col-lg-2 {
            -ms-flex: 0 0 16.666667%;
            -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
        }
        .col-lg-3 {
            -ms-flex: 0 0 25%;
            -webkit-box-flex: 0;
            flex: 0 0 25%;
            max-width: 25%;
        }
        .col-lg-4 {
            -ms-flex: 0 0 33.333333%;
            -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
        .col-lg-5 {
            -ms-flex: 0 0 41.666667%;
            -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
        }
        .col-lg-6 {
            -ms-flex: 0 0 50%;
            -webkit-box-flex: 0;
            flex: 0 0 50%;
            max-width: 50%;
        }
        .col-lg-7 {
            -ms-flex: 0 0 58.333333%;
            -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
        }
        .col-lg-8 {
            -ms-flex: 0 0 66.666667%;
            -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }
        .col-lg-9 {
            -ms-flex: 0 0 75%;
            -webkit-box-flex: 0;
            flex: 0 0 75%;
            max-width: 75%;
        }
        .col-lg-10 {
            -ms-flex: 0 0 83.333333%;
            -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
        }
        .col-lg-11 {
            -ms-flex: 0 0 91.666667%;
            -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
            max-width: 91.666667%;
        }
        .col-lg-12 {
            -ms-flex: 0 0 100%;
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    
    @media (min-width: 1200px) {
        .col-xl {
            -ms-flex-preferred-size: 0;
            flex-basis: 0;
            -ms-flex-positive: 1;
            -webkit-box-flex: 1;
            flex-grow: 1;
            max-width: 100%;
        }
        .col-xl-auto {
            -ms-flex: 0 0 auto;
            -webkit-box-flex: 0;
            flex: 0 0 auto;
            width: auto;
            max-width: none;
        }
        .col-xl-1 {
            -ms-flex: 0 0 8.333333%;
            -webkit-box-flex: 0;
            flex: 0 0 8.333333%;
            max-width: 8.333333%;
        }
        .col-xl-2 {
            -ms-flex: 0 0 16.666667%;
            -webkit-box-flex: 0;
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
        }
        .col-xl-3 {
            -ms-flex: 0 0 25%;
            -webkit-box-flex: 0;
            flex: 0 0 25%;
            max-width: 25%;
        }
        .col-xl-4 {
            -ms-flex: 0 0 33.333333%;
            -webkit-box-flex: 0;
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }
        .col-xl-5 {
            -ms-flex: 0 0 41.666667%;
            -webkit-box-flex: 0;
            flex: 0 0 41.666667%;
            max-width: 41.666667%;
        }
        .col-xl-6 {
            -ms-flex: 0 0 50%;
            -webkit-box-flex: 0;
            flex: 0 0 50%;
            max-width: 50%;
        }
        .col-xl-7 {
            -ms-flex: 0 0 58.333333%;
            -webkit-box-flex: 0;
            flex: 0 0 58.333333%;
            max-width: 58.333333%;
        }
        .col-xl-8 {
            -ms-flex: 0 0 66.666667%;
            -webkit-box-flex: 0;
            flex: 0 0 66.666667%;
            max-width: 66.666667%;
        }
        .col-xl-9 {
            -ms-flex: 0 0 75%;
            -webkit-box-flex: 0;
            flex: 0 0 75%;
            max-width: 75%;
        }
        .col-xl-10 {
            -ms-flex: 0 0 83.333333%;
            -webkit-box-flex: 0;
            flex: 0 0 83.333333%;
            max-width: 83.333333%;
        }
        .col-xl-11 {
            -ms-flex: 0 0 91.666667%;
            -webkit-box-flex: 0;
            flex: 0 0 91.666667%;
            max-width: 91.666667%;
        }
        .col-xl-12 {
            -ms-flex: 0 0 100%;
            -webkit-box-flex: 0;
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    /* Sidebar Menu */
    
    a:link {
        text-decoration: none!important;
    }
    
    .sidebar-navigation {
        min-height: 100vh;
        width: 80px;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
        box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
        top: 0;
        bottom: 0;
        left: 0;
        position: fixed;
        display: block;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .sidebar-navigation .menu-navbar {
        text-align: center;
        color: white;
    }
    
    .sidebar-navigation .menu-navbar .menu-navbar-left {
        padding: 28px 0;
        cursor: pointer;
        -webkit-transition: all ease-out 120ms;
        transition: all ease-out 120ms;
    }
    
    .sidebar-navigation .menu-navbar .menu-navbar-left-logo {
        padding: 12px 0;
        cursor: pointer;
        -webkit-transition: all ease-out 120ms;
        transition: all ease-out 120ms;
    }
    
    .sidebar-navigation .menu-navbar .menu-navbar-left i {
        display: block;
        font-size: 24px;
        font-family: 'Roboto', sans-serif;
        -webkit-transition: all ease 450ms;
        transition: all ease 450ms;
    }
    
    .sidebar-navigation .menu-navbar .menu-navbar-left .tooltip-menu {
        display: inline-block;
        position: absolute;
        background-color: #029B76;
        padding: 8px 15px;
        border-radius: 3px;
        margin-top: -26px;
        left: 90px;
        opacity: 0;
        visibility: hidden;
        font-size: 13px;
        letter-spacing: 0.3px;
        font-family: 'Roboto', sans-serif;
    }
    
    .sidebar-navigation .menu-navbar .menu-navbar-left .tooltip-menu:before {
        content: '';
        display: block;
        position: absolute;
        left: -4px;
        top: 10px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        width: 10px;
        height: 10px;
        background-color: inherit;
    }
    
    .sidebar-navigation .menu-navbar .menu-navbar-left:hover {
        background-color: #F2F7F7;
    }
    
    .sidebar-navigation .menu-navbar .menu-navbar-left:hover .tooltip-menu {
        visibility: visible;
        opacity: 1;
    }
    
    .sidebar-navigation .menu-navbar .menu-navbar-left.active {
        border-left: 3px solid #029B76;
        background-color: #F2F7F7;
    }
    
    .sidebar-navigation .menu-navbar .menu-navbar-left .title-sidebar {
        color: #313131;
        font-size: 11px;
        font-weight: 400;
        line-height: 14px;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 0;
    }
    
    .right-sidebar-tab-notification {
        height: 100%;
    }
    /*  RIGHT SIDEBAR */
    
    .pull-right {
        float: right;
        cursor: pointer;
        position: fixed;
        top: 0px;
        right: 0px;
        background: -webkit-linear-gradient(4deg, rgb(3, 199, 165), rgb(96, 226, 179));
        background: linear-gradient(4deg, rgb(3, 199, 165), rgb(96, 226, 179));
        border-bottom-left-radius: 10px;
        padding: 12px;
    }
    
    .pull-right:hover {
        background: -webkit-linear-gradient(4deg, rgb(43, 215, 186), rgb(96, 226, 179));
        background: linear-gradient(4deg, rgb(43, 215, 186), rgb(96, 226, 179));
    }
    
    #right-sidebar {
        background: #fff;
        position: fixed;
        height: 100%;
        right: 0px;
        top: 0;
        z-index: -1;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    
    .right-sidebar-notifcations {
        width: 300px !important;
    }
    
    .right-sidebar-notifcations .nav-tabs {
        border-bottom: 0px solid #ddd;
    }
    
    .right-sidebar-notifcations .nav-tabs>li>a {
        border-radius: 0 0 0 0 !important;
        border: 0 solid transparent !important;
        margin-right: 0 !important;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    
    .right-sidebar-notifcations .nav-tabs>li.active>a:hover {
        background-color: white !important;
        color: gray !important;
    }
    
    .right-sidebar-notifcations .nav>li>a:focus,
    .nav>li>a:hover {
        background-color: #fff;
        color: gray !important;
    }
    
    .right-sidebar-notifcations .tab-content {
        padding: 0px;
    }
    
    .right-sidebar-notifcations .tab-content .right-sidebar-list {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    
    .right-sidebar-notifcations .tab-content .right-sidebar-list li {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    /* #right-sidebar #right-sidebar-tab-content .right-sidebar-panel-content-heading {
    padding: 15px !important;
} */
    
    #right-sidebar #right-sidebar-tab-content .right-sidebar-panel-content-heading {
        padding: 5px 15px;
        border-bottom: 1px solid #F5EFF5;
        font-family: arial;
        background: -webkit-linear-gradient(4deg, rgb(0, 191, 158), rgb(96, 226, 179));
        background: linear-gradient(4deg, rgb(0, 191, 158), rgb(96, 226, 179));
        border-bottom-left-radius: 10px;
        letter-spacing: 0.3px;
    }
    
    #right-sidebar #right-sidebar-tab-content .right-sidebar-panel-content-heading .title-results-side {
        font-size: 18px;
        color: #fff;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
    }
    
    #right-sidebar #right-sidebar-tab-content .right-sidebar-panel-content {
        padding: 0px;
        height: 100%;
    }
    
    .right-sidebar-notifcations .right-sidebar-tab-notification {
        height: 100%;
    }
    
    #right-sidebar #right-sidebar-tab-content .right-sidebar-list {
        list-style: none;
        padding-left: 10px;
        padding-right: 10px;
        height: 513px;
    }
    /* #right-sidebar #right-sidebar-tab-content .right-sidebar-list .sidebar-list-results {
        padding: 6px;
    } */
    
    #right-sidebar #right-sidebar-tab-content .right-sidebar-list .sidebar-list-results:last-child {
        border-bottom: 1px solid #CCE5E2;
    }
    
    #right-sidebar #right-sidebar-tab-content .right-sidebar-list .sidebar-list-results div.pull-left {
        width: 46px;
        display: inline-block;
        float: none!important;
        margin: 35px 0 0 0;
    }
    
    #right-sidebar #right-sidebar-tab-content .right-sidebar-list .sidebar-list-results p {
        line-height: 5px;
    }
    
    #right-sidebar #right-sidebar-tab-content .right-sidebar-list .sidebar-list-results .title-results {
        font-weight: 500;
        font-size: 18px;
        color: #029B76;
        margin: 0 0 10px 0;
        font-family: 'Roboto', sans-serif;
    }
    
    #right-sidebar #right-sidebar-tab-content .right-sidebar-list .sidebar-list-results .text-results {
        font-weight: 300;
        font-size: 12px;
        color: #606060;
        font-family: 'Roboto', sans-serif;
        line-height: 16px;
    }
    
    #right-sidebar #right-sidebar-tab-content .right-sidebar-list .sidebar-list-results .text-results span {
        color: #029B76;
        display: block;
    }
    
    .hide-left-bar {
        margin-left: -240px !important;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    
    .open-right-bar {
        right: 0px !important;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    
    .merge-right {
        margin-right: 0px !important;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    
    .merge-left {
        margin-left: 0px !important;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }
    
    .hide-right-bar {
        margin-right: -240px !important;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    
    .hide-right-bar-notifications {
        margin-right: -300px !important;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    
    .heartbeat {
        -webkit-animation: heartbeat 1s steps(2, start) infinite both;
        animation: heartbeat 1s steps(2, start) infinite both;
    }
    
    @-webkit-keyframes heartbeat {
        from {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: center center;
            transform-origin: center center;
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
        10% {
            -webkit-transform: scale(0.91);
            transform: scale(0.91);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        17% {
            -webkit-transform: scale(0.98);
            transform: scale(0.98);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
        33% {
            -webkit-transform: scale(0.87);
            transform: scale(0.87);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        45% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
    }
    
    @keyframes heartbeat {
        from {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: center center;
            transform-origin: center center;
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
        10% {
            -webkit-transform: scale(0.91);
            transform: scale(0.91);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        17% {
            -webkit-transform: scale(0.98);
            transform: scale(0.98);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
        33% {
            -webkit-transform: scale(0.87);
            transform: scale(0.87);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }
        45% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
    }
    
    @media (max-width: 1920px) {
        .tabs .nav-tab .nav-tab-wrap,
        .content-wrap section,
        .sortable-table {
            max-width: 91%!important;
        }
    }
    
    @media (max-width: 1366px) {
        .tabs .nav-tab .nav-tab-wrap,
        .content-wrap section,
        .sortable-table,
        .collapsible-table {
            max-width: 850px!important;
        }
    }
    
    @media (max-width: 1280px) {
        .tabs .nav-tab .nav-tab-wrap,
        .content-wrap section,
        .sortable-table,
        .collapsible-table {
            max-width: 890px;
        }
    }
    
    @media (max-width: 1024px) {
        .right-sidebar-notifcations {
            width: 220px!important;
        }
        .tabs .nav-tab .nav-tab-wrap,
        .content-wrap section,
        .sortable-table,
        .collapsible-table {
            max-width: 700px!important;
        }
        #right-sidebar #right-sidebar-tab-content .right-sidebar-list .sidebar-list-results .text-results {
            font-size: 11px;
        }
        .btn-master {
            font-size: 11px!important;
        }
    }
    /* Menu Tab */
    
    .title-header {
        font-size: 20px;
        color: #029B76;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        margin: 2em 0 1em 0.5em;
    }
    
    .tabs-style-iconbox .nav-tab .nav-tab-wrap li a {
        overflow: visible;
        padding: 0.8em 10px 0.7em 10px;
        margin: 0 0 0 10px;
        height: 5em;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        text-decoration: none;
        color: #606060;
        font-family: 'Roboto', sans-serif;
        outline: none;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
    }
    
    .tabs-style-iconbox .nav-tab .nav-tab-wrap li a span {
        font-weight: 400;
        font-size: 0.9em;
        letter-spacing: 0.3px;
        display: block;
        font-family: 'Roboto', sans-serif;
    }
    /* .tabs-style-iconbox .nav-tab .nav-tab-wrap li.tab-current {
        z-index: 100;
    } */
    
    .tabs-style-iconbox .nav-tab .nav-tab-wrap li.tab-current a {
        background: -webkit-linear-gradient(4deg, rgb(0, 191, 158), rgb(96, 226, 179));
        background: linear-gradient(4deg, rgb(0, 191, 158), rgb(96, 226, 179));
        -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
        color: #fff;
        border-radius: 5px;
        font-family: 'Roboto', sans-serif;
    }
    
    .tabs-style-iconbox .nav-tab .nav-tab-wrap li.tab-current a svg .cls-1 {
        fill: #fff;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    
    .cls-1 {
        fill: #00BF9E;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    
    .tabs-style-iconbox .nav-tab .nav-tab-wrap li.tab-current a::after {
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -10px;
        width: 0;
        height: 0;
        border: solid transparent;
        border-width: 10px;
        border-top-color: rgb(0, 191, 158);
        content: '';
        pointer-events: none;
    }
    
    .tabs-style-iconbox .nav-tab .nav-tab-wrap li:first-child::before {
        right: auto;
        left: 0;
    }
    
    .tabs-style-iconbox .icon::before {
        display: block;
        margin: 0 0 0.25em 0;
    }
    /* Tab */
    
    .tabs {
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        width: 100%;
        font-weight: 300;
        /* font-size: 1.25em; */
    }
    /* Nav */
    
    .tabs .nav-tab {
        text-align: center;
    }
    
    .tabs .nav-tab .nav-tab-wrap {
        position: relative;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: flex;
        /* margin: 0 auto; */
        padding: 0;
        max-width: 700px;
        list-style: none;
        -ms-box-orient: horizontal;
        -ms-box-pack: center;
        -webkit-flex-flow: row wrap;
        -moz-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
    }
    
    .tabs .nav-tab .nav-tab-wrap li {
        position: relative;
        display: block;
        margin: 0;
        text-align: center;
        -webkit-flex: 1;
        -moz-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    
    .tabs-style-iconbox .nav-tab .nav-tab-wrap li a:hover {
        -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }
    
    .tabs .nav-tab a {
        position: relative;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.2;
    }
    
    .tabs .nav-tab a span {
        vertical-align: middle;
        font-size: 0.75em;
    }
    
    .tabs .nav-tab li.tab-current a {
        color: #74777b;
        font-family: 'Roboto', sans-serif;
    }
    
    .tabs .nav-tab a:focus {
        outline: none;
    }
    /* Icons */
    
    .icon-img {
        margin-bottom: 5px;
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    /* Content */
    
    .content-wrap {
        position: relative;
    }
    
    .content-wrap section {
        display: none;
    }
    
    .content-wrap section .section-box {
        margin: 20px 10px 0;
        font-family: 'Roboto', sans-serif;
        max-width: 1200px;
        width: 99%;
        overflow: visible;
        height: auto;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        color: #606060;
        outline: none;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        display: inline-block;
    }
    
    .content-wrap section .section-box-grid {
        margin: 40px 10px 0;
        font-family: 'Roboto', sans-serif;
        max-width: 1200px;
        width: 99%;
        overflow: visible;
        height: auto;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        color: #606060;
        outline: none;
        background-color: #fff;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 5px;
        display: inline-block;
    }
    
    .section-box-ajust {
        padding: 0.7em 15px;
    }
    
    .content-wrap section.content-current {
        display: block;
    }
    
    .content-wrap section .content-header {
        background-color: #00BF9E;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    
    .content-wrap section p {
        font-family: 'Roboto', sans-serif;
        padding: 0.75em 1.4em;
        color: #fff;
        font-weight: 400;
        letter-spacing: 0.3px;
        font-size: 14px;
        line-height: 1;
    }
    /* Fallback */
    
    .no-js .content-wrap section {
        display: block;
        padding-bottom: 2em;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    }
    
    .no-flexbox .nav-tab .nav-tab-wrap {
        display: block;
    }
    
    .no-flexbox .nav-tab .nav-tab-wrap li {
        min-width: 15%;
        display: inline-block;
    }
    
    @media screen and (max-width: 58em) {
        .tabs .nav-tab a.icon span {
            display: none;
        }
        .tabs .nav-tab a:before {
            margin-right: 0;
        }
    }
    /* Text */
    
    .title-box {
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        line-height: 23px;
        width: 100%;
        font-weight: 500;
        text-align: center;
        margin: 10px 0 0;
        color: #00BF9E;
    }
    
    .title-box-input {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        line-height: 1;
        width: 100%;
        font-weight: 400;
        text-align: left;
        margin: 10px 0 7px 15px;
        color: #00BF9E;
    }
    /* Input Form */
    
    .ajust-form {
        padding: 1em 1em 1em;
    }
    
    .input {
        position: relative;
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
    
    .input__field {
        position: relative;
        display: block;
        float: right;
        padding: 0.8em;
        width: 60%;
        border: none;
        border-radius: 0;
        background: #f0f0f0;
        color: #aaa;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        -webkit-appearance: none;
    }
    
    .input__field:focus {
        outline: none;
    }
    
    .input__label {
        display: inline-block;
        padding: 0 1em;
        width: 40%;
        color: #696969;
        font-weight: 400;
        font-family: "Roboto", sans-serif;
        font-size: 69%;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    .input__label-content {
        position: relative;
        display: block;
        padding: 1.6em 0;
        width: 100%;
    }
    
    .box-nav-header {
        padding: 10px 10px;
        margin: 0.5rem 0 1rem 0;
        background-color: #fff;
        -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.04);
        box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        width: 100%;
    }
    
    .input--chisato {
        padding-bottom: 10px;
    }
    
    .input__field--chisato {
        width: 100%;
        padding: 0.8em 0.5em;
        background: transparent;
        border: 1px solid #BDDBD6;
        color: #023C2D;
        border-radius: 5px;
        -webkit-transition: border-color 0.25s;
        transition: border-color 0.25s;
    }
    
    .input__label--chisato {
        width: 100%;
        position: absolute;
        top: -15px;
        text-align: left;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        -webkit-transform: translate3d(0, 3em, 0);
        transform: translate3d(0, 3em, 0);
    }
    
    .input__label-content--chisato {
        padding: 0 1em;
        font-weight: 400;
        color: #313131;
        letter-spacing: 0.3px;
        font-size: 12px;
    }
    
    .input__label-content--chisato::after {
        content: attr(data-content);
        position: absolute;
        top: -200%;
        left: 8px;
        color: #00BF9E;
        font-weight: 400;
    }
    
    .input__field--chisato:focus,
    .input--filled .input__field--chisato {
        border-color: #00BFAD;
    }
    
    .input__field--chisato:focus+.input__label--chisato,
    .input--filled .input__label--chisato {
        -webkit-animation: anim-chisato-1 0.25s forwards;
        animation: anim-chisato-1 0.25s forwards;
    }
    
    .input__field--chisato:focus+.input__label--chisato .input__label-content--chisato,
    .input--filled .input__label-content--chisato {
        -webkit-animation: anim-chisato-2 0.25s forwards ease-in;
        animation: anim-chisato-2 0.25s forwards ease-in;
    }
    /* Dropdown Select */
    
    .input__drop__field {
        cursor: pointer;
        outline: none;
    }
    
    @-webkit-keyframes anim-chisato-1 {
        0%,
        70% {
            -webkit-transform: translate3d(0, 3em, 0);
            transform: translate3d(0, 3em, 0);
        }
        71%,
        100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    @-webkit-keyframes anim-chisato-2 {
        0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        70%,
        71% {
            -webkit-transform: translate3d(0, 125%, 0);
            transform: translate3d(0, 125%, 0);
            opacity: 0;
            -webkit-animation-timing-function: ease-out;
        }
        100% {
            color: transparent;
            -webkit-transform: translate3d(0, 200%, 0);
            transform: translate3d(0, 200%, 0);
        }
    }
    
    @keyframes anim-chisato-1 {
        0%,
        70% {
            -webkit-transform: translate3d(0, 3em, 0);
            transform: translate3d(0, 3em, 0);
        }
        71%,
        100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
    }
    
    @keyframes anim-chisato-2 {
        0% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        70%,
        71% {
            -webkit-transform: translate3d(0, 125%, 0);
            transform: translate3d(0, 125%, 0);
            opacity: 0;
            -webkit-animation-timing-function: ease-out;
        }
        100% {
            color: transparent;
            -webkit-transform: translate3d(0, 200%, 0);
            transform: translate3d(0, 200%, 0);
        }
    }
    /* Buttons */
    
    button {
        background-color: transparent;
    }
    
    .BtnCardSalesGrid {
        background-color: transparent;
        border: 1px solid #00BF9E;
        border-radius: 50px;
        color: #00BF9E;
        padding: 0 16px 0 16px;
        line-height: 24px;
        font-size: 13px;
        font-weight: 400;
        position: relative;
        display: inline-block;
        text-align: center;
        overflow: hidden;
        z-index: 1;
        cursor: pointer;
        text-decoration: none;
        outline: none;
    }
    
    .BtnCardSales {
        background-color: transparent;
        border: 1px solid #00BF9E;
        border-radius: 50px;
        color: #00BF9E;
        padding: 0 20px 0 20px;
        line-height: 35px;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        display: inline-block;
        text-align: center;
        overflow: hidden;
        z-index: 1;
        cursor: pointer;
        text-decoration: none;
        outline: none;
    }
    
    .BtnCardSales:focus {
        outline: none;
    }
    
    .BtnCardSalesAnimated {
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }
    
    .BtnCardSalesAnimated:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #00BF9E;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        transition-property: transform;
        transition-property: transform, -webkit-transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        z-index: -1;
    }
    
    .BtnCardSalesAnimated:hover {
        color: white;
    }
    
    .BtnCardSalesAnimated:hover:before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
        transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
    }
    
    .btn-master {
        text-decoration: none;
        font-size: 14px;
        outline: none;
        text-align: center;
        border-radius: 50px;
        background-color: #00BF9E;
        background-image: -webkit-gradient(linear, left top, right top, from(#00BF9E), color-stop(60%, #60E2B3), to(#00BF9E));
        background-image: linear-gradient(to right, #00BF9E 0%, #60E2B3 60%, #00BF9E 100%);
        color: #fff;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        box-shadow: 0px 5px 12px 0px rgba(2, 155, 118, 0.5);
        -webkit-box-shadow: 0px 5px 12px 0px rgba(2, 155, 118, 0.5);
        -moz-box-shadow: 0px 5px 12px 0px rgba(2, 155, 118, 0.5);
        -ms-box-shadow: 0px 5px 12px 0px rgba(2, 155, 118, 0.5);
        -o-box-shadow: 0px 5px 12px 0px rgba(2, 155, 118, 0.5);
        background-size: 250% 250%;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        padding: 0 6px 0 20px;
        line-height: 35px;
        height: auto;
        text-transform: none;
        float: right;
    }
    
    .btn-master-grid {
        text-decoration: none;
        font-size: 13px;
        outline: none;
        text-align: center;
        border-radius: 50px;
        background-color: #00BF9E;
        background-image: -webkit-gradient(linear, left top, right top, from(#00BF9E), color-stop(60%, #60E2B3), to(#00BF9E));
        background-image: linear-gradient(to right, #00BF9E 0%, #60E2B3 60%, #00BF9E 100%);
        color: #fff;
        cursor: pointer;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        box-shadow: 0px 5px 12px 0px rgba(2, 155, 118, 0.5);
        -webkit-box-shadow: 0px 5px 12px 0px rgba(2, 155, 118, 0.5);
        -moz-box-shadow: 0px 5px 12px 0px rgba(2, 155, 118, 0.5);
        -ms-box-shadow: 0px 5px 12px 0px rgba(2, 155, 118, 0.5);
        -o-box-shadow: 0px 5px 12px 0px rgba(2, 155, 118, 0.5);
        background-size: 250% 250%;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        padding: 4px 20px 5px 20px;
        text-transform: none;
    }
    
    .btn-master:hover,
    .btn-master-grid:hover {
        color: #ffffff;
        background-color: #60E2B3;
        border: none;
        background-position: 100% 0;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0px 5px 12px 0px rgba(2, 155, 118, 0.5);
        -webkit-box-shadow: 0px 5px 12px 0px rgba(2, 155, 118, 0.5);
        -moz-box-shadow: 0px 5px 12px 0px rgba(2, 155, 118, 0.5);
        -ms-box-shadow: 0px 5px 12px 0px rgba(2, 155, 118, 0.5);
        -o-box-shadow: 0px 5px 12px 0px rgba(2, 155, 118, 0.5);
    }
    
    .icon-btn-all {
        width: 27px;
        height: 27px;
        vertical-align: middle;
    }
    
    @media screen and (max-width: 768px) {
        .btn-master {
            margin: 0;
            padding: 5px 20px;
        }
    }
    
    @media screen and (max-width: 480px) {
        .btn-master {
            margin-bottom: 20px;
            width: 100%;
        }
    }
    
    .IconTable {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-line-pack: distribute;
        align-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        cursor: pointer;
        margin: auto;
    }
    
    .IconTable .bars {
        border: 1px solid #00BF9E;
        border-radius: 50px;
        padding: 6px 16px;
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
    }
    /* Radio */
    
    .radio {
        margin: 0;
        margin-top: 0px!important;
        display: inline-table;
        font-size: 14px;
    }
    
    .radio input[type="radio"] {
        position: absolute;
        opacity: 0;
    }
    
    .radio input[type="radio"]+.radio-label:before {
        content: '';
        background: #fff;
        border-radius: 100%;
        border: 1px solid #00BF9E;
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        position: relative;
        top: -0.15em;
        margin-right: 0.5em;
        vertical-align: middle;
        cursor: pointer;
        text-align: center;
        -webkit-transition: all 250ms ease;
        transition: all 250ms ease;
    }
    
    .radio input[type="radio"]:checked+.radio-label:before {
        background-color: #00BF9E;
        -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
        box-shadow: inset 0 0 0 4px #f4f4f4;
    }
    
    .radio input[type="radio"]:focus+.radio-label:before {
        outline: none;
        border-color: #00BF9E;
    }
    
    .radio input[type="radio"]:disabled+.radio-label:before {
        -webkit-box-shadow: inset 0 0 0 4px #f4f4f4;
        box-shadow: inset 0 0 0 4px #f4f4f4;
        border-color: #b4b4b4;
        background: #b4b4b4;
    }
    
    .radio input[type="radio"]+.radio-label:empty:before {
        margin-right: 0;
    }
    /* Ajustes */
    
    .float-right {
        float: right
    }
    
    .left-align {
        text-align: left;
    }
    
    .right-align {
        text-align: right;
    }
    
    .ajust-btn {
        margin: 30px 0 10px;
    }
    
    .ajust-btn-box {
        margin: 15px 0 15px 15px;
    }
    
    .margin-top {
        margin-top: 5px;
    }
    
    .margin-bottom {
        margin-bottom: 20px
    }
    
    .margin-right {
        margin-right: 15px;
    }
    
    .ajust-title {
        margin: 0px 20px 15px;
    }
    
    .ajust-title-box {
        margin: 30px 15px 10px;
    }
    
    .ajust-text-input {
        font-size: 25px;
        font-weight: 600;
        padding: 6px 10px;
        text-align: center;
    }
    
    .color-white {
        color: #fff;
    }
    
    .color-black {
        color: #000;
        font-size: 14px;
    }
    
    .ajust-grid-table {
        margin-top: 20px;
        background-color: #fff;
    }
    /* Modal */
    
    .form {
        padding: 40px;
        background: #153C2D;
        border-radius: 5px;
    }
    
    .tab-group {
        list-style: none;
        padding: 0;
        margin: 0 0 40px 0;
    }
    
    .tab-group:after {
        content: "";
        display: table;
        clear: both;
    }
    
    .tab-group .tab-group-list a {
        display: block;
        text-decoration: none;
        padding: 15px;
        background: rgba(160, 179, 176, 0.25);
        color: #a0b3b0;
        font-size: 20px;
        float: left;
        width: 46%;
        text-align: center;
        cursor: pointer;
        -webkit-transition: .5s ease;
        transition: .5s ease;
        outline: none;
        border-radius: 5px;
        margin: 0 10px;
    }
    
    .tab-group .tab-group-list a:hover {
        background: -webkit-linear-gradient(4deg, rgb(0, 191, 158), rgb(96, 226, 179));
        background: linear-gradient(4deg, rgb(0, 191, 158), rgb(96, 226, 179));
        color: #ffffff;
        border-radius: 5px;
    }
    
    .tab-group .active a {
        background: -webkit-linear-gradient(4deg, rgb(0, 191, 158), rgb(96, 226, 179));
        background: linear-gradient(4deg, rgb(0, 191, 158), rgb(96, 226, 179));
        color: #ffffff;
        outline: none;
        border-radius: 5px;
    }
    
    .top-row {
        padding: 0 10px;
    }
    
    .title-modal {
        text-align: center;
        color: #ffffff;
        font-weight: 300;
        margin: 0 0 20px;
        font-family: 'Roboto', sans-serif;
        font-size: 22px;
        letter-spacing: 0.3px;
    }
    /* Notification */
    
    .flag {
        display: table;
        width: 100%;
    }
    
    .flag__image,
    .flag__body {
        display: table-cell;
        vertical-align: middle;
    }
    
    .flag--top .flag__image,
    .flag--top .flag__body {
        vertical-align: top;
    }
    
    .flag--bottom .flag__image,
    .flag--bottom .flag__body {
        vertical-align: bottom;
    }
    
    .flag__image {
        padding-right: 14px 24px;
    }
    
    .flag--rev .flag__image {
        padding-right: 0;
        padding-left: 24px;
    }
    
    .flag__body {
        width: 100%;
    }
    
    .note--success {
        background-color: #fff;
        -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        border-bottom: 5px solid #00BF9E;
        margin: 10px 20px;
    }
    
    .note__icon,
    .note__text {
        padding: 14px 24px;
    }
    
    .note__icon {
        min-width: 80px;
        text-align: center;
        border-right: 1px solid #BDDBD6;
    }
    
    .note__text {
        padding-right: 48px;
    }
    
    .note__title {
        color: #606060;
        font-size: 18px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    /* Btn Grid */
    
    .dropbtn {
        background-color: transparent;
        border: 1px solid #00BF9E;
        border-radius: 50px;
        color: #00BF9E;
        padding: 0 16px 0 16px;
        line-height: 24px;
        font-size: 13px;
        font-weight: 400;
        cursor: pointer;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #e9f1ef;
        padding: 0 7px;
        min-width: 120px;
        margin-top: 1px;
        font-size: 12px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 5px;
    }
    
    .dropdown-content a {
        color: #fff;
        padding: 8px 10px;
        text-decoration: none;
        margin: 7px 0;
        display: block;
        cursor: pointer;
        text-align: center;
        border-radius: 5px;
    }
    
    .dropdown-content .btn-drop-grey {
        background-color: #6c757d;
        color: #fff;
    }
    
    .dropdown-content .btn-drop-grey:hover {
        background-color: #5a6268;
        color: #fff;
    }
    
    .dropdown-content .btn-blue {
        background-color: #17a2b8;
        color: #fff;
    }
    
    .dropdown-content .btn-blue:hover {
        background-color: #138496;
        color: #fff;
    }
    
    .dropdown-content .btn-blue2 {
        background-color: #007bff;
        color: #fff;
    }
    
    .dropdown-content .btn-blue2:hover {
        background-color: #0069d9;
        color: #fff;
    }
    
    .dropdown-content .btn-yellow {
        background-color: #ffc107;
        color: #212529;
    }
    
    .dropdown-content .btn-yellow:hover {
        background-color: #e0a800;
        color: #fff;
    }
    
    .dropdown-content .btn-red {
        background-color: #c82333;
        color: #fff;
    }
    
    .dropdown-content .btn-red:hover {
        background-color: #dc3545;
        color: #fff;
    }
    
    .dropdown-content a:hover {
        background-color: #00bf9e;
        color: #fff;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    .dropdown:hover .dropbtn {
        background-color: #00BF9E;
        color: #fff;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }